{% extends 'base.html.twig' %}

{% block title %}Naro Blog - Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}

    <main id="main">
        <div class="container mt-5">
            <h1>Inscription</h1>
    
            {{ form_start(registrationForm) }}
                <div class="form-group">
                    {{ form_label(registrationForm.username) }}
                    {{ form_widget(registrationForm.username) }}
                    {{ form_errors(registrationForm.username) }}
                </div>
    
                <div class="form-group mt-3">
                    {{ form_label(registrationForm.email) }}
                    {{ form_widget(registrationForm.email) }}
                    {{ form_errors(registrationForm.email) }}
                </div>
    
                <div class="form-group mt-3">
                    {{ form_label(registrationForm.plainPassword) }}
                    {{ form_widget(registrationForm.plainPassword) }}
                    {{ form_errors(registrationForm.plainPassword) }}
                </div>
    
                <div class="form-group mt-3 form-check">
                    {{ form_widget(registrationForm.accepterLesConditions) }}
                    {{ form_label(registrationForm.accepterLesConditions) }}
                    {{ form_errors(registrationForm.accepterLesConditions) }}
                </div>
    
                <button type="submit" class="btn btn-primary mt-3">S'inscrire</button>
            {{ form_end(registrationForm) }}
        </div>
      
    </main>

    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
