{% extends 'base.html.twig' %}

{% block title %}Naro Blog{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% endblock %}


{% block body %}


  {% block header %}
      {{ parent() }}
      {% endblock %}
    <main id="main">
        {{ app.session.get('user_id') }}

        <!-- ======= Hero Slider Section ======= -->
        <section id="hero-slider" class="hero-slider">
            <div class="container-md" data-aos="fade-in"><div class="row">
                <div class="col-12">
                    <div class="swiper sliderFeaturedPosts">
                        <div class="swiper-wrapper">
                            {% if latestPost %}
                                <div class="swiper-slide">
                                    <a href="{{ path('app_single', {id: latestPost.id}) }}" class="img-bg d-flex align-items-end" style="background-image: url('{{ vich_uploader_asset(latestPost.images, 'imageFile') }}');">
                                        <div class="img-bg-inner">
                                            <h2>{{ latestPost.titre }}</h2>
                                            <p>{{ latestPost.contenu|slice(0, 100) }}</p>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                              

                             

                              
                           
                            <div class="custom-swiper-button-next">
                                <span class="bi-chevron-right"></span>
                            </div>
                            <div class="custom-swiper-button-prev">
                                <span class="bi-chevron-left"></span>
                            </div>

                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Hero Slider Section -->

        <!-- ======= Post Grid Section ======= -->
        <section id="posts" class="posts">
            <div class="container" data-aos="fade-up">
                <div class="row g-5">
                    {% for post in posts %}

                        <div class="col-lg-4">
                            <div class="post-item">
                                <div class="post-thumb">
                                    {% if post.images is not null %}
                                        <a href="{{ path('app_single', { id: post.id }) }}">
                                            <img src="{{ vich_uploader_asset(post.images, 'imageFile') }}" alt="{{ post.images.imageName }}" class="img-fluid" style="width: 400px; height: 300px;">
                                        </a>
                                    {% else %}
                                        <p>Ce post n'a pas d'image.</p>
                                    {% endif %}
                                </div>
                                <div class="post-content">
                                    <a href="{{ path('app_single', { id: post.id }) }}">
                                        <h3 class="post-title">{{ post.titre }}</h3>
                                    </a>
                                    <p class="post-excerpt">{{ post.contenu|slice(0, 400) }}.</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div> <!-- End .row -->
            </div>
        </section>




    </main><!-- End #main -->
  {% block footer %}
      {{ parent() }}
      {% endblock %}

{% endblock %}
