{% extends 'base.html.twig' %}

{% block title %}Naro Blog{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {% block header %}
        {{ parent() }}
    {% endblock %}

    <main id="main">
        <section>
          <div class="container">
            <div class="row">
    
              <div class="col-md-9" data-aos="fade-up">
               

                {% for post in posts %}
                {% if post.categories|length > 0 %}
                    {% set category = post.categories[0] %}
                    <h3 class="category-title">Categorie: {{ category.nomCat }}</h3>
                {% else %}
                    <h3 class="category-title">No Category</h3>
                {% endif %}
                <!-- Reste du contenu du post -->
        
             
            
                <div class="d-md-flex post-entry-2 half">
                    <a href="{{ path('app_single', { id: post.id }) }}" class="me-4 thumbnail">
                      <img src="{{ vich_uploader_asset(post.images, 'imageFile') }}" alt="{{ post.images.imageName }}" class="img-fluid" style="width: 100%; height: auto; max-width: 100%;">
                    </a>
                    <div>
                        <div class="post-meta"> categorie:
                            {% for category in post.categories %}
                               <span class="date">{{ category.nomCat }}</span>
                                {% if not loop.last %}
                                    <span class="mx-1">&bullet;</span>
                                {% endif %}
                            {% endfor %}
                            <span class="mx-1">&bullet;</span>
                            <span>{{ post.createdAt|date('j F Y') }}</span>
                          </div>
                        <h3><a href="{{ path('app_single', { id: post.id }) }}">{{ post.titre }}</a></h3>
                        <p>{{ post.contenu|slice(0, 400) }}...</p>
                        <div class="d-flex align-items-center author">
                            <div class="photo">
                                <img src="{{ ('/img/user.png') }}" alt="" class="img-fluid">
                            </div>
                            <div class="name">
                                <h3 class="m-0 p-0">{{ post.utilisateur.username }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
    
            <div class="aside-block">
              <h3 class="aside-title">Tags</h3>
              <ul class="aside-tags list-unstyled">
                {% for tag in tags %}
                <li><a href="{{ path('app_tag', { 'id': tag.id }) }}">{{ tag.name }}</a></li>
            {% endfor %}
              </ul>
          </div><!-- End tags -->              </div>
    
            </div>
          </div>
        </section>
      </main><!-- End #main -->
    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}


                   
