{% extends 'base.html.twig' %}

{% block title %}Naro Blog{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}

{% block header %}
{{ parent() }}
{% endblock %}
<main id="main">

  <!-- ======= Search Results ======= -->
  <section id="search-result" class="search-result">
      <div class="container">
          <div class="row">
              <div class="col-md-9">
                  <h3 class="category-title">Search Results</h3>

                  {% for post in posts %}
                  <div class="d-md-flex post-entry-2 small-img">
                      <a href="" class="me-4 thumbnail">
                          <img src="{{ vich_uploader_asset(post.images, 'imageFile') }}" alt="{{ post.images.imageName }}" class="img-fluid" style="width: 100%; height: auto; max-width: 100%;">
                        </a>
                      <div>
                        <div class="post-meta"> categorie:
                          {% for category in post.categories %}
                             <span class="date">{{ category.nomCat }}</span>
                              {% if not loop.last %}
                                  <span class="mx-1">&bullet;</span>
                              {% endif %}
                          {% endfor %}
                              <!-- Affichez ici la date du post -->
                              <span>{{ post.createdAt|date('j F Y') }}</span>
                            </div>
                          <!-- Affichez ici le titre du post -->
                          <h3><a href="{{ path('app_single', { id: post.id }) }}">{{ post.titre }}</a></h3>
                          <!-- Affichez ici le contenu du post -->
                          <p>{{ post.contenu|slice(0, 400) }}...</p>
                          <div class="d-flex align-items-center author">
                              <div class="photo">
                                  <!-- Insérez ici l'image de l'auteur du post -->
                                  <img src="{{ ('img/user.png') }}" alt="" class="img-fluid">
                              </div>
                              <div class="name">
                                  <h3 class="m-0 p-0">{{ post.utilisateur.username }}</h3>
                              </div>
                          </div>
                      </div>
                  </div>
                  {% endfor %}
    
                
    
              </div>
    
              <div class="aside-block">
                <h3 class="aside-title">Tags</h3>
                <ul class="aside-tags list-unstyled">
                    {% for tag in tags %}
                        <li><a href="{{ path('app_categorie', { 'id': tag.id }) }}">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
            </div><!-- End tags -->              </div>
      
              </div>
              </div>
    
            </div>
          </div>
        </section> <!-- End Search Result -->
    
      </main><!-- End #main -->

    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}

