{% extends 'base.html.twig' %}

{% block title %}Naro Blog{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}


    {% block header %}
        {{ parent() }}
    {% endblock %}


    <main id="main">
        <section class="single-post-content">
          <div class="container">
            <div class="row">
              <div class="col-md-9 post-content" data-aos="fade-up">

                <!-- ======= Single Post Content ======= -->
                <div class="single-post">
                  <div class="post-meta">
                    <span class="date"></span>
                    <span class="mx-1">&bullet;</span>
                    <span>Publier le {{ post.createdAt|date('d/m/Y') }}</span>
                  </div>
                  <h1 class="mb-5">{{ post.titre }}</h1>

                  {% if post.images %}
                    <figure class="my-4">
                      <img src="{{ vich_uploader_asset(post.images, 'imageFile') }}" alt="{{ post.images.imageName }}" class="img-fluid" style="width: 75%; height: auto;">
                      <figcaption>{{ post.images.imageName }}</figcaption>
                    </figure>
                  {% endif %}               
                  <p><span class="firstcharacter">{{ post.contenu|first}} </span>{{ post.contenu|slice(1) }}</p>
                </div><!-- End Single Post Content -->
                <!-- ======= Comments ======= -->
                <div class="comments">
                    <h5 class="comment-title py-4">{{ post.commentaires|length }} Commentaire</h5>
                    {% for comment in post.commentaires %}
                    <div class="comment d-flex mb-4">
                        <div class="flex-shrink-0">
                            <div class="avatar avatar-sm rounded-circle">
                                <img class="avatar-img" src="{{ ('/img/user.png') }}" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="flex-grow-1 ms-2 ms-sm-3">
                            <div class="comment-meta d-flex align-items-baseline">
                                <h6 class="me-2">{{ comment.utilisateur.username }}</h6>
                <span class="text-muted">{{ comment.datePublication|date('d/m/Y') }}</span>
                            </div>
                            {% if app.user and app.user == comment.utilisateur %}
                            <form action="{{ path('app_comment_delete', {'id': comment.id}) }}" method="post" style="display: inline;">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" style="border: none; background: none; cursor: pointer; color: red;">
                                    <i class="fa fa-trash"></i> <!-- Assuming you have Font Awesome or similar -->
                                </button>
                            </form>
                        {% endif %} 
                            <div class="comment-body">
                                {{ comment.contenu }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                <!-- ======= Comments Form ======= -->
                <div class="row justify-content-center mt-5">
                    <div class="col-lg-12">
                        <h5 class="comment-title">Laisser un Commentaire</h5>
                        {{ form_start(comment_form) }}
                        <div class="row">
                            <div class="col-12 mb-3">
                                {{ form_row(comment_form.contenu) }}
                            </div>
                            <div class="col-12" >
                                {{ form_row(comment_form.save) }}
                            </div>
                        </div>
                        {{ form_end(comment_form) }}
                    </div>
                </div><!-- End Comments Form -->
    
              </div>
    
              <div class="aside-block">
                <h3 class="aside-title">Tags</h3>
                <ul class="aside-tags list-unstyled">
                    {% for tag in tags %}
                    <li><a href="{{ path('app_tag', { 'id': tag.id }) }}">{{ tag.name }}</a></li>
                {% endfor %}
                </ul>
            </div><!-- End tags -->   
    
              </div>
            </div>
          </div>

        </section>
      </main><!-- End #main -->
    <style>        </style>

   

    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}

